ðŸ§  Paso 1: Importar librerÃ­as esenciales

In [3]:
import pandas as pd
import numpy as np

ðŸ“‚ Paso 2: Leer el archivo .csv

Carga bÃ¡sica
    df = pd.read_csv('ruta/al/archivo.csv')

Si el separador no es coma (por ejemplo, punto y coma)
    df = pd.read_csv('archivo.csv', sep=';')

Si hay problemas de codificaciÃ³n
    df = pd.read_csv('archivo.csv', encoding='utf-8')  # o 'latin1', 'ISO-8859-1'

In [7]:
df = pd.read_csv('/workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-20250819T210000Z.csv')

In [10]:
df1 = df[['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']]
df1

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
0     BBG000DZG3K1          NaN          NaN
1     BBG000D22JS6          NaN          NaN
2     BBG000CYM0B4          NaN          NaN
3     BBG000BFZMY9          NaN          NaN
4     BBG000BTG1B1          NaN          NaN
...            ...          ...          ...
1475  BBG000BQSKV0          NaN          NaN
1476  BBG000K48R55          NaN          NaN
1477  BBG00JNJXWS4        4.444         2.25
1478  BBG000C4DSW6          NaN          NaN
1479  BBG01VS5NK99          NaN          NaN

[1480 rows x 3 columns]

In [11]:
df2 = df1.dropna()
df2

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.421       14.955
13    BBG00KDPQMB6        5.658       15.039
19    BBG00NB2Z5H4        5.590        9.075
20    BBG00NB2Z628        6.184       13.981
21    BBG00DSQ1X81        5.996       12.762
...            ...          ...          ...
1383  BBG00001K5F6        2.416        0.702
1408  BBG00HC3QXH3        3.745        1.917
1413  BBG000FYM9P7        3.815        4.067
1467  BBG007JNL349        4.385        1.192
1477  BBG00JNJXWS4        4.444        2.250

[702 rows x 3 columns]

In [12]:
df2.to_excel('prueba_yield_duration.xlsx', index=False)

In [8]:
#  !pip install openpyxl


# Exportar el DataFrame df a un archivo Excel
df.to_excel('yield_duration.xlsx', index=False)