üß† Paso 1: Importar librer√≠as esenciales

In [1]:
import pandas as pd
import numpy as np

üìÇ Paso 2: Leer el archivo .csv

Carga b√°sica
    df = pd.read_csv('ruta/al/archivo.csv')

Si el separador no es coma (por ejemplo, punto y coma)
    df = pd.read_csv('archivo.csv', sep=';')

Si hay problemas de codificaci√≥n
    df = pd.read_csv('archivo.csv', encoding='utf-8')  # o 'latin1', 'ISO-8859-1'

In [2]:
df = pd.read_csv('/workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-20250819T210000Z.csv')

In [3]:
df1 = df[['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']]
df1

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
0     BBG000DZG3K1          NaN          NaN
1     BBG000D22JS6          NaN          NaN
2     BBG000CYM0B4          NaN          NaN
3     BBG000BFZMY9          NaN          NaN
4     BBG000BTG1B1          NaN          NaN
...            ...          ...          ...
1475  BBG000BQSKV0          NaN          NaN
1476  BBG000K48R55          NaN          NaN
1477  BBG00JNJXWS4        4.444         2.25
1478  BBG000C4DSW6          NaN          NaN
1479  BBG01VS5NK99          NaN          NaN

[1480 rows x 3 columns]

In [17]:
# Paso 1: Eliminar filas donde Campo 2 y Campo 3 son ambos NaN
df2 = df1[~(df1[['YLD_YTM_MID', 'DUR_ADJ_MID']].isna().all(axis=1))]

# Paso 2: Reemplazar los NaN restantes por 0
df3 = df2.fillna(3)

In [18]:
df2

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.421       14.955
13    BBG00KDPQMB6        5.658       15.039
19    BBG00NB2Z5H4        5.590        9.075
20    BBG00NB2Z628        6.184       13.981
21    BBG00DSQ1X81        5.996       12.762
...            ...          ...          ...
1383  BBG00001K5F6        2.416        0.702
1408  BBG00HC3QXH3        3.745        1.917
1413  BBG000FYM9P7        3.815        4.067
1467  BBG007JNL349        4.385        1.192
1477  BBG00JNJXWS4        4.444        2.250

[706 rows x 3 columns]

In [19]:
df3

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.421       14.955
13    BBG00KDPQMB6        5.658       15.039
19    BBG00NB2Z5H4        5.590        9.075
20    BBG00NB2Z628        6.184       13.981
21    BBG00DSQ1X81        5.996       12.762
...            ...          ...          ...
1383  BBG00001K5F6        2.416        0.702
1408  BBG00HC3QXH3        3.745        1.917
1413  BBG000FYM9P7        3.815        4.067
1467  BBG007JNL349        4.385        1.192
1477  BBG00JNJXWS4        4.444        2.250

[706 rows x 3 columns]

In [20]:
df3.to_excel('prueba_yield_duration.xlsx', index=False)

In [21]:
#  !pip install openpyxl


# Exportar el DataFrame df a un archivo Excel
df3.to_excel('yield_duration.xlsx', index=False)

In [10]:
import pandas as pd
import numpy as np

# Paso 0: Crear el DataFrame original (como en la tabla 1)
df5 = pd.DataFrame({
    'Campo 2': [54, np.nan, 15, 40, np.nan, 2, np.nan, 74, np.nan, 66],
    'Campo 3': [np.nan, 20, 85, 0.58, np.nan, 58, np.nan, 62, 4, np.nan]
}, index=[f'Nombre {i}' for i in range(1, 11)])

# Paso 1: Eliminar filas donde Campo 2 y Campo 3 son ambos NaN
df6 = df5[~(df5[['Campo 2', 'Campo 3']].isna().all(axis=1))]

# Paso 2: Reemplazar los NaN restantes por 0
df7 = df6.fillna(0)

# Mostrar resultados
print("DataFrame original (df5):")
print(df5)
print("\nDespu√©s de eliminar filas con NaN en Campo 2 y Campo 3 (df6):")
print(df6)
print("\nDespu√©s de reemplazar NaN por 0 (df7):")
print(df7)

DataFrame original (df5):
           Campo 2  Campo 3
Nombre 1      54.0      NaN
Nombre 2       NaN    20.00
Nombre 3      15.0    85.00
Nombre 4      40.0     0.58
Nombre 5       NaN      NaN
Nombre 6       2.0    58.00
Nombre 7       NaN      NaN
Nombre 8      74.0    62.00
Nombre 9       NaN     4.00
Nombre 10     66.0      NaN

Despu√©s de eliminar filas con NaN en Campo 2 y Campo 3 (df6):
           Campo 2  Campo 3
Nombre 1      54.0      NaN
Nombre 2       NaN    20.00
Nombre 3      15.0    85.00
Nombre 4      40.0     0.58
Nombre 6       2.0    58.00
Nombre 8      74.0    62.00
Nombre 9       NaN     4.00
Nombre 10     66.0      NaN

Despu√©s de reemplazar NaN por 0 (df7):
           Campo 2  Campo 3
Nombre 1      54.0     0.00
Nombre 2       0.0    20.00
Nombre 3      15.0    85.00
Nombre 4      40.0     0.58
Nombre 6       2.0    58.00
Nombre 8      74.0    62.00
Nombre 9       0.0     4.00
Nombre 10     66.0     0.00