üß† Paso 1: Importar librer√≠as esenciales

In [65]:
import pandas as pd
import numpy as np

üìÇ Paso 2: Leer el archivo .csv

Carga b√°sica
    df = pd.read_csv('ruta/al/archivo.csv')

Si el separador no es coma (por ejemplo, punto y coma)
    df = pd.read_csv('archivo.csv', sep=';')

Si hay problemas de codificaci√≥n
    df = pd.read_csv('archivo.csv', encoding='utf-8')  # o 'latin1', 'ISO-8859-1'

In [66]:
# df = pd.read_csv('/workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-20250821T210000Z.csv')
# df

In [67]:

import os  

def cargar_archivo_por_fecha(fecha_str):
    """
    Carga un archivo CSV basado en la fecha proporcionada (formato YYYYMMDD).
    Retorna un DataFrame si el archivo existe, o lanza una excepci√≥n si no.
    """
    # Componentes del nombre
    componente_1 = "/workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-"
    componente_3 = "T210000Z.csv"
    
    # Construir ruta completa
    ruta_archivo = componente_1 + fecha_str + componente_3

    # Verificar existencia y cargar
    if os.path.exists(ruta_archivo):
        df = pd.read_csv(ruta_archivo)
        print(f"‚úÖ Archivo cargado: {ruta_archivo}")
        return df
    else:
        raise FileNotFoundError(f"‚ùå El archivo no existe: {ruta_archivo}")

In [68]:
# Fecha deseada
fecha_deseada = "20250820"

# Cargar el archivo correspondiente
df = cargar_archivo_por_fecha(fecha_deseada)

‚úÖ Archivo cargado: /workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-20250820T210000Z.csv

In [69]:
df0 = df[['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']]
df0

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
0     BBG000DZG3K1          NaN          NaN
1     BBG000D22JS6          NaN          NaN
2     BBG000CYM0B4          NaN          NaN
3     BBG000BFZMY9          NaN          NaN
4     BBG000BTG1B1          NaN          NaN
...            ...          ...          ...
1476  BBG000K48R55          NaN          NaN
1477  BBG00JNJXWS4        4.438        2.248
1478  BBG000C4DSW6          NaN          NaN
1479  BBG01VS5NK99          NaN          NaN
1480  BBG01WTT9QG9        6.462        3.779

[1481 rows x 3 columns]

In [70]:
# Eliminemos los valores repetidos

df1 = df0.drop_duplicates(subset='ID_BB_GLOBAL', keep='first').copy()

In [71]:
print(df1.columns.tolist())

['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']

In [72]:
# Supongamos que 'ID_BB_GLOBAL' es una columna
fila1 = df1[df1['ID_BB_GLOBAL'] == 'BBG018WMWRL9']
print(fila1)
print("")
fila2 = df1[df1['ID_BB_GLOBAL'] == 'BBG01S53T815']
print(fila2)

     ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
984  BBG018WMWRL9          NaN        0.949

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
1057  BBG01S53T815          NaN        0.485

In [73]:
# Paso 1: Eliminar filas donde YLD_YTM_MID y DUR_ADJ_MID son ambos NaN
df2 = df1[~(df1[['YLD_YTM_MID', 'DUR_ADJ_MID']].isna().all(axis=1))].copy()

# Paso 2: Reemplazar los NaN restantes por 0
df3 = df2.fillna(0).copy()

In [74]:
df2

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.422       14.952
13    BBG00KDPQMB6        5.650       15.048
19    BBG00NB2Z5H4        5.583        9.074
20    BBG00NB2Z628        6.169       13.996
21    BBG00DSQ1X81        6.001       12.757
...            ...          ...          ...
1408  BBG00HC3QXH3        3.744        1.914
1413  BBG000FYM9P7        3.802        4.065
1467  BBG007JNL349        4.392        1.190
1477  BBG00JNJXWS4        4.438        2.248
1480  BBG01WTT9QG9        6.462        3.779

[704 rows x 3 columns]

In [75]:
df3

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.422       14.952
13    BBG00KDPQMB6        5.650       15.048
19    BBG00NB2Z5H4        5.583        9.074
20    BBG00NB2Z628        6.169       13.996
21    BBG00DSQ1X81        6.001       12.757
...            ...          ...          ...
1408  BBG00HC3QXH3        3.744        1.914
1413  BBG000FYM9P7        3.802        4.065
1467  BBG007JNL349        4.392        1.190
1477  BBG00JNJXWS4        4.438        2.248
1480  BBG01WTT9QG9        6.462        3.779

[704 rows x 3 columns]

In [76]:
print(df3.columns.tolist())

['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']

In [77]:
# Supongamos que 'ID_BB_GLOBAL' es una columna
fila3 = df3[df3['ID_BB_GLOBAL'] == 'BBG018WMWRL9']
print(fila3)
print("")
fila4 = df3[df3['ID_BB_GLOBAL'] == 'BBG01S53T815']
print(fila4)

     ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
984  BBG018WMWRL9          0.0        0.949

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
1057  BBG01S53T815          0.0        0.485

In [78]:
# pip install openpyxl

df3.to_excel('yield_duration.xlsx', index=False)