ðŸ§  Paso 1: Importar librerÃ­as esenciales

In [27]:
import pandas as pd
import numpy as np

ðŸ“‚ Paso 2: Leer el archivo .csv

Carga bÃ¡sica
    df = pd.read_csv('ruta/al/archivo.csv')

Si el separador no es coma (por ejemplo, punto y coma)
    df = pd.read_csv('archivo.csv', sep=';')

Si hay problemas de codificaciÃ³n
    df = pd.read_csv('archivo.csv', encoding='utf-8')  # o 'latin1', 'ISO-8859-1'

In [28]:
df = pd.read_csv('/workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-20250821T210000Z.csv')
df

,DL_REQUEST_ID,DL_REQUEST_NAME,DL_SNAPSHOT_START_TIME,DL_SNAPSHOT_TZ,IDENTIFIER,RC,ID_BB_GLOBAL,SECURITY_DES,ISSUER,MARKET_SECTOR_DES,...,PRICING_SOURCE,PX_LAST,YLD_YTM_MID,DUR_ADJ_MID,CALLED,DEFAULTED,LAST_UPDATE,TICKER_AND_EXCH_CODE,EXCH_CODE,PARENT_COMP_NAME
0,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000DZG3K1 FIGI Equity,0,BBG000DZG3K1,RIO,Rio Tinto PLC,Equity,...,LN,4531.000,NaN,NaN,NaN,NaN,11:38:42,RIO LN,LN,NaN
1,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000D22JS6 FIGI Equity,0,BBG000D22JS6,LND,Landore Resources Ltd,Equity,...,LN,2.400,NaN,NaN,NaN,NaN,11:35:22,LND LN,LN,NaN
2,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000CYM0B4 FIGI Equity,0,BBG000CYM0B4,SDI,SDI Group PLC,Equity,...,LN,91.500,NaN,NaN,NaN,NaN,11:35:01,SDI LN,LN,NaN
3,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000BFZMY9 FIGI Equity,0,BBG000BFZMY9,SMT,Scottish Mortgage Investment T,Equity,...,LN,1071.000,NaN,NaN,NaN,NaN,11:37:07,SMT LN,LN,Baillie Gifford & Co Ltd
4,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000BTG1B1 FIGI Equity,0,BBG000BTG1B1,RR/,Rolls-Royce Holdings PLC,Equity,...,LN,1040.500,NaN,NaN,NaN,NaN,11:39:56,RR/ LN,LN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000K48R55 FIGI Equity,0,BBG000K48R55,INUV,Inuvo Inc,Equity,...,US,3.430,NaN,NaN,NaN,NaN,16:15:00,INUV US,US,NaN
1473,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG00JNJXWS4 FIGI Govt,0,BBG00JNJXWS4,MEX 3 3/4 01/11/28,UNITED MEXICAN STATES,Govt,...,BGN,98.450,4.440,2.245,False,False,16:59:57,NaN,STUTTGART,United Mexican States
1474,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG000C4DSW6 FIGI Equity,0,BBG000C4DSW6,ISNPY,Intesa Sanpaolo SpA,Equity,...,US,39.110,NaN,NaN,NaN,NaN,15:58:35,ISNPY US,US,NaN
1475,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG01VS5NK99 FIGI Equity,0,BBG01VS5NK99,PSKY,Paramount Skydance Corp,Equity,...,US,16.030,NaN,NaN,NaN,NaN,16:30:00,PSKY US,US,NaN
1476,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-21T17:01:42,EDT,BBG01WTT9QG9 FIGI Corp,0,BBG01WTT9QG9,NUTRES 8 05/12/30,GRUPO NUTRESA SA,Corp,...,BGN,105.735,6.562,3.775,False,False,16:59:45,NaN,TRACE,NaN

In [29]:
df0 = df[['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']]
df0

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
0     BBG000DZG3K1          NaN          NaN
1     BBG000D22JS6          NaN          NaN
2     BBG000CYM0B4          NaN          NaN
3     BBG000BFZMY9          NaN          NaN
4     BBG000BTG1B1          NaN          NaN
...            ...          ...          ...
1472  BBG000K48R55          NaN          NaN
1473  BBG00JNJXWS4        4.440        2.245
1474  BBG000C4DSW6          NaN          NaN
1475  BBG01VS5NK99          NaN          NaN
1476  BBG01WTT9QG9        6.562        3.775

[1477 rows x 3 columns]

In [30]:
# Eliminemos los valores repetidos

df1 = df0.drop_duplicates(subset='ID_BB_GLOBAL', keep='first').copy()

In [31]:
print(df1.columns.tolist())

['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']

In [32]:
# Supongamos que 'ID_BB_GLOBAL' es una columna
fila1 = df1[df1['ID_BB_GLOBAL'] == 'BBG018WMWRL9']
print(fila1)
print("")
fila2 = df1[df1['ID_BB_GLOBAL'] == 'BBG01S53T815']
print(fila2)

     ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
981  BBG018WMWRL9          NaN        0.949

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
1054  BBG01S53T815          NaN        0.485

In [33]:
# Paso 1: Eliminar filas donde YLD_YTM_MID y DUR_ADJ_MID son ambos NaN
df2 = df1[~(df1[['YLD_YTM_MID', 'DUR_ADJ_MID']].isna().all(axis=1))].copy()

# Paso 2: Reemplazar los NaN restantes por 0
df3 = df2.fillna(0).copy()

In [34]:
df2

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.450       14.926
13    BBG00KDPQMB6        5.679       15.007
19    BBG00NB2Z5H4        5.626        9.061
20    BBG00NB2Z628        6.202       14.019
21    BBG00DSQ1X81        6.042       12.729
...            ...          ...          ...
1404  BBG00HC3QXH3        3.789        1.911
1409  BBG000FYM9P7        3.844        4.061
1463  BBG007JNL349        4.417        1.187
1473  BBG00JNJXWS4        4.440        2.245
1476  BBG01WTT9QG9        6.562        3.775

[702 rows x 3 columns]

In [35]:
df3

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.450       14.926
13    BBG00KDPQMB6        5.679       15.007
19    BBG00NB2Z5H4        5.626        9.061
20    BBG00NB2Z628        6.202       14.019
21    BBG00DSQ1X81        6.042       12.729
...            ...          ...          ...
1404  BBG00HC3QXH3        3.789        1.911
1409  BBG000FYM9P7        3.844        4.061
1463  BBG007JNL349        4.417        1.187
1473  BBG00JNJXWS4        4.440        2.245
1476  BBG01WTT9QG9        6.562        3.775

[702 rows x 3 columns]

In [36]:
print(df3.columns.tolist())

['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']

In [37]:
# Supongamos que 'ID_BB_GLOBAL' es una columna
fila3 = df3[df3['ID_BB_GLOBAL'] == 'BBG018WMWRL9']
print(fila3)
print("")
fila4 = df3[df3['ID_BB_GLOBAL'] == 'BBG01S53T815']
print(fila4)

     ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
981  BBG018WMWRL9          0.0        0.949

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
1054  BBG01S53T815          0.0        0.485

In [38]:
# pip install openpyxl

df3.to_excel('yield_duration.xlsx', index=False)