ðŸ§  Paso 1: Importar librerÃ­as esenciales

In [82]:
import pandas as pd
import numpy as np

ðŸ“‚ Paso 2: Leer el archivo .csv

Carga bÃ¡sica
    df = pd.read_csv('ruta/al/archivo.csv')

Si el separador no es coma (por ejemplo, punto y coma)
    df = pd.read_csv('archivo.csv', sep=';')

Si hay problemas de codificaciÃ³n
    df = pd.read_csv('archivo.csv', encoding='utf-8')  # o 'latin1', 'ISO-8859-1'

In [83]:
df = pd.read_csv('/workspaces/Transformacion_Archivo/RQMSFIPXEODVersDAILY5pm-uZX2oH2yLbyU-20250819T210000Z.csv')
df

,DL_REQUEST_ID,DL_REQUEST_NAME,DL_SNAPSHOT_START_TIME,DL_SNAPSHOT_TZ,IDENTIFIER,RC,ID_BB_GLOBAL,SECURITY_DES,ISSUER,MARKET_SECTOR_DES,...,PRICING_SOURCE,PX_LAST,YLD_YTM_MID,DUR_ADJ_MID,CALLED,DEFAULTED,LAST_UPDATE,TICKER_AND_EXCH_CODE,EXCH_CODE,PARENT_COMP_NAME
0,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000DZG3K1 FIGI Equity,0,BBG000DZG3K1,RIO,Rio Tinto PLC,Equity,...,LN,4487.000,NaN,NaN,NaN,NaN,11:39:28,RIO LN,LN,NaN
1,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000D22JS6 FIGI Equity,0,BBG000D22JS6,LND,Landore Resources Ltd,Equity,...,LN,2.450,NaN,NaN,NaN,NaN,11:35:07,LND LN,LN,NaN
2,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000CYM0B4 FIGI Equity,0,BBG000CYM0B4,SDI,SDI Group PLC,Equity,...,LN,91.000,NaN,NaN,NaN,NaN,11:35:08,SDI LN,LN,NaN
3,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000BFZMY9 FIGI Equity,0,BBG000BFZMY9,SMT,Scottish Mortgage Investment T,Equity,...,LN,1083.000,NaN,NaN,NaN,NaN,11:38:59,SMT LN,LN,Baillie Gifford & Co Ltd
4,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000BTG1B1 FIGI Equity,0,BBG000BTG1B1,RR/,Rolls-Royce Holdings PLC,Equity,...,LN,1059.500,NaN,NaN,NaN,NaN,11:39:54,RR/ LN,LN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000BQSKV0 FIGI Equity,0,BBG000BQSKV0,PXLW,Pixelworks Inc,Equity,...,US,8.150,NaN,NaN,NaN,NaN,16:30:00,PXLW US,US,NaN
1476,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000K48R55 FIGI Equity,0,BBG000K48R55,INUV,Inuvo Inc,Equity,...,US,3.540,NaN,NaN,NaN,NaN,16:15:00,INUV US,US,NaN
1477,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG00JNJXWS4 FIGI Govt,0,BBG00JNJXWS4,MEX 3 3/4 01/11/28,UNITED MEXICAN STATES,Govt,...,BGN,98.438,4.444,2.25,False,False,16:59:58,NaN,STUTTGART,United Mexican States
1478,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG000C4DSW6 FIGI Equity,0,BBG000C4DSW6,ISNPY,Intesa Sanpaolo SpA,Equity,...,US,39.000,NaN,NaN,NaN,NaN,15:58:40,ISNPY US,US,NaN
1479,uZX2oH2yLbyU,RQMSFIPXEODVersDAILY5pm,2025-08-19T17:00:31,EDT,BBG01VS5NK99 FIGI Equity,0,BBG01VS5NK99,PSKY,Paramount Skydance Corp,Equity,...,US,13.480,NaN,NaN,NaN,NaN,16:30:00,PSKY US,US,NaN

In [84]:
df1 = df[['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']]
df1

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
0     BBG000DZG3K1          NaN          NaN
1     BBG000D22JS6          NaN          NaN
2     BBG000CYM0B4          NaN          NaN
3     BBG000BFZMY9          NaN          NaN
4     BBG000BTG1B1          NaN          NaN
...            ...          ...          ...
1475  BBG000BQSKV0          NaN          NaN
1476  BBG000K48R55          NaN          NaN
1477  BBG00JNJXWS4        4.444         2.25
1478  BBG000C4DSW6          NaN          NaN
1479  BBG01VS5NK99          NaN          NaN

[1480 rows x 3 columns]

In [85]:
print(df1.columns.tolist())

['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']

In [86]:
# Supongamos que 'ID_BB_GLOBAL' es una columna
fila1 = df1[df1['ID_BB_GLOBAL'] == 'BBG018WMWRL9']
print(fila1)
print("")
fila2 = df1[df1['ID_BB_GLOBAL'] == 'BBG01S53T815']
print(fila2)

     ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
984  BBG018WMWRL9          NaN        0.949

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
1057  BBG01S53T815          NaN        0.485

In [87]:
# Paso 1: Eliminar filas donde YLD_YTM_MID y DUR_ADJ_MID son ambos NaN
df2 = df1[~(df1[['YLD_YTM_MID', 'DUR_ADJ_MID']].isna().all(axis=1))].copy()

# Paso 2: Reemplazar los NaN restantes por 0
df3 = df2.fillna(0).copy()

In [88]:
df2

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.421       14.955
13    BBG00KDPQMB6        5.658       15.039
19    BBG00NB2Z5H4        5.590        9.075
20    BBG00NB2Z628        6.184       13.981
21    BBG00DSQ1X81        5.996       12.762
...            ...          ...          ...
1383  BBG00001K5F6        2.416        0.702
1408  BBG00HC3QXH3        3.745        1.917
1413  BBG000FYM9P7        3.815        4.067
1467  BBG007JNL349        4.385        1.192
1477  BBG00JNJXWS4        4.444        2.250

[706 rows x 3 columns]

In [89]:
df3

      ID_BB_GLOBAL  YLD_YTM_MID  DUR_ADJ_MID
10    BBG00Q5L6G62        5.421       14.955
13    BBG00KDPQMB6        5.658       15.039
19    BBG00NB2Z5H4        5.590        9.075
20    BBG00NB2Z628        6.184       13.981
21    BBG00DSQ1X81        5.996       12.762
...            ...          ...          ...
1383  BBG00001K5F6        2.416        0.702
1408  BBG00HC3QXH3        3.745        1.917
1413  BBG000FYM9P7        3.815        4.067
1467  BBG007JNL349        4.385        1.192
1477  BBG00JNJXWS4        4.444        2.250

[706 rows x 3 columns]

In [90]:
print(df3.columns.tolist())

['ID_BB_GLOBAL', 'YLD_YTM_MID', 'DUR_ADJ_MID']

In [ ]:
df3.to_excel('yield_duration.xlsx', index=False)